###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=CHANGE_ME_32_CHARS
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://user:password@127.0.0.1:3306/waze_br?serverVersion=8.0&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
MAILER_DSN=smtp://user:password@smtp.example.com:587
###< symfony/mailer ###

# Aplicação
APP_NAME="WazeBR"
SENDER_EMAIL="noreply@example.com"

# Waze Data For Cities API
WAZE_API_URL="https://www.waze.com/partnerhub-api/waze-feeds/api/v1/georss"
WAZE_API_KEY=""
WAZE_BBOX="-20.1,-44.5,-19.5,-43.5"

# CEMADEN
CEMADEN_API_URL="http://sjc.salvar.cemaden.gov.br/resources/graficos/interativo/getJson2.php"
CEMADEN_API_KEY=""

# Token para API externa
API_EXTERNA_TOKEN="CHANGE_ME_STRONG_TOKEN"

CRON_TOKEN=
