###> symfony/mailer ###
# Configura\u00e7\u00f5es de email

# Gmail (recomendado para produ\u00e7\u00e3o)
MAILER_DSN=gmail://seu-email@gmail.com:app-password@smtp.gmail.com
MAILER_FROM_EMAIL=seu-email@gmail.com
MAILER_FROM_NAME="wazeBR"

# Ou SMTP gen\u00e9rico
# MAILER_DSN=smtp://usuario:senha@smtp.exemplo.com:587
# MAILER_FROM_EMAIL=noreply@seudominio.com
# MAILER_FROM_NAME="wazeBR"

# Para desenvolvimento (sem envio real)
# MAILER_DSN=null://null
# MAILER_FROM_EMAIL=noreply@wazebr.com
# MAILER_FROM_NAME="wazeBR"
###< symfony/mailer ###
