APP_ENV=dev
APP_DEBUG=1
APP_SECRET=jjj

# -------------------------------------------------------------------------
# BANCO DE DADOS — MySQL Hostinger
# -------------------------------------------------------------------------
DATABASE_URL="mysql://u629736858:Andre.2026@21.243:3306/u?serverVersion=11.0"

# -------------------------------------------------------------------------
# MESSENGER
# -------------------------------------------------------------------------
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

# -------------------------------------------------------------------------
# MAILER
# -------------------------------------------------------------------------
MAILER_DSN=null://null

MAILER_DSN="smtps://noreply%40acheireviews.com.br:@smtp.hostinger.com:465"
SENDER_EMAIL="noreply@acheireviews.com.br"
APP_NAME="WazeBR"

# -------------------------------------------------------------------------
# CRON TOKEN
CRON_TOKEN=1

SCHEDULER_LOG_LEVEL=error
#SCHEDULER_LOG_LEVEL=info #Investigar erros
#SCHEDULER_LOG_LEVEL=debug #Debugar tudo

CRON_PHP_BINARY=/usr/bin/php

